<!DOCTYPE html>
<html>
<head><title>Employees</title></head>
<body>
<h1>Employee List</h1>
<table><tr><th>Name</th><th>Surname</th><th>Address</th><th>Employee</th><th>IBAN</th></tr>
<% employees.forEach(e => { %><tr><td><%= e.name %></td><td><%= e.surname %></td><td><%= e.address %></td><td><%= e.employee %></td><td><%= e.iban %></td></tr><% }) %>
</table>
<form method="POST" action="/add">
<input name="name" placeholder="Name" />
<input name="surname" placeholder="Surname" />
<input name="address" placeholder="Address" />
<input name="employee" placeholder="Employee" />
<input name="iban" placeholder="IBAN" />
<button type="submit">Add</button>
</form>
</body>
</html>